@using Sandbox
@inherits Sandbox.UI.WorldPanel

<style>
    BellUI { 
        color: white;
        font-size: 20px;
        
    }

</style>

<root>
    <div>Japper da Dapper er en wapper</div>
</root>