@using Sandbox
@inherits Sandbox.UI.RootPanel


<style>
    #black-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }

    #reveal-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }
    .game-over {
    font-family: 'Chiller', cursive;
    font-size: 7em;
    text-align: center;
    color: black;
    text-shadow: 0 0 10px red;
    animation: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @@keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<root>
    @if (isTrue)
    {
        <div id="black-screen">
            <p class="game-over">Game Over</p>
        </div>
    }
    else
    {
        <div id="reveal-screen"></div>
    }
    
</root>



@code{

    private bool isTrue = true;







}